/**
 * Photo Hunt v1
 * @author Andy Pan
 */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, html {
  -webkit-touch-callout: none;    /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  background-color: #E4E4E4;
  /*overflow: auto;*/
  /*overflow-x: hidden;*/
}

img {
  max-width: 100%;
}

#mainContent {
  margin-top: 60px;
  /* override Bootstrap */
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand {
  font-size: 16px;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
}

.navbar-icon-wrapper {
  display: flex;
  height: 48px;
  align-items: center;
}

.navbar-icon {
  height: 36px;
  padding-right: 8px;
}

#password-field-wrapper {
  display: block;
}

#password-field {
  margin: auto;
  display: block;
  font-size: 36px;
  text-align: center;
  line-height: 2;
  height: 60px;
  letter-spacing: 4px;
}

.formError {
  margin-top: .4em;
  color: red;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}

/* thread list */
#pageThreadList {
  display: flex;
  justify-content: center;
}

#mainContent {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  max-width: 384px; /* 480 * .8 */
}

.card {
  background-color: white;
  font-size: 15px;
  margin: 0 8px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.photoCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 160px;
}

.textCard {
  padding: 8px 16px;
  min-height: 80px;
}

.photoCard .photowrapper {
  position: relative;
}

.photoCard .photowrapper:after {
  padding-top: 61.8%; /* = 1/phi */
  display: block;
  content: '';
}

.photoCard .photobox {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;
}

.photoCard .photo-title {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 34px;
  line-height: 52px;
  text-shadow: -1px -1px 1px rgba(0,0,0,.2), 1px 1px 2px rgba(0,0,0,.7);
  color: white;
}

.photoCard .photo {
  position: relative;
  width: 100%;
}

.photoCard .info {
  position: relative;
  padding: 8px;
  background-color: #eee;
}

.photoCard .photo-id {
  left: 8px;
}

.photoCard .time {
  position: absolute;
  right: 8px;
}

.photoCard .description {
  background-color: #fff;
  padding: 12px 8px;
}

.photoCard .desc {
  margin: 0;
}

#pageWelcome {
  background-image: url(../img/cover2.png);
  background-size: cover;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
          animation: fadein 2s;
}

#pageWelcome .contract * {
  color: #eee;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, .5);
}

#pageWelcome .contract small {
  color: #e2e2e2;
}

#pageWelcome .title {
  font-size: 54px;
}

#pageWelcome .subtitle {
  font-size: 24px;
}

#pageWelcome .teaser {
  margin-top: 120px;
  text-align: center;
  font-size: 34px;
  color: #e4e4e4;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, .7), 0px 0px 1px rgba(255, 255, 255, .7);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@media screen and (min-width: 480px) {
  #mainContent {
    max-width: 560px;
    width: 80%;
    width: 80vw;
  }
}
